<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">


    <p>girdiğin harfe göre liste güncelenecek...</p>

    <input type="text" ng-model="test">
    <br>



    <ul>
        <li ng-repeat="name in names | filter: test">{{name}}</li>
    </ul>



</div>



<script>

    var app=angular.module('myApp' , []);
    app.controller('myCtrl' , function ($scope) {
        $scope.names=[

            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'

        ];
    });



</script>
</body>
</html>